@media (max-width: 974px) {

    .section-header{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
        grid-column-gap:0px;
    }

    .menu-btns-burger{
        display:block;
        margin-right: 0;
        width: 10%;
        margin-bottom: 35px;
    }

    .container-btns-search {
        margin-left: 8%;
        width: 53%;    
    }

    .ancla-burger{
        position: relative;
    }

    .ancla-burger::before{
        position:absolute;
        content: "\2630";
        color: var(--color-white);
        margin-left: 15px;
        font-size:22px;
        margin-bottom: 20px;
    }

    .ancla-burger:hover::before{
        color: var(--color-secondary);
    }

    /*.logo-src{
        width: 100%;
        height: 25px;
        max-width: 100%;
        object-fit: cover;
    }*/

    .logo-div{
        display:none;
    }

    .logo-div-src{
        display:block;
        text-align: center;
    }

    .logo{
        width: 75px;
        height: 75px;
    }

    .container-search {
        padding: 0;
        margin-top: 0;
    }

    .search {
        border-color:#00000000;
        width: 250px;
        height: 25px;
    }

    .icon-search{
        margin-left: calc(250px - 10px);
    }

    .btn-img-search{
        height: 22px;
        width: auto;
    }

    .div-btns-inicio{
        display: none;
    }

}

@media (max-width: 775px) {

    .section-header{
        align-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
        grid-column-gap:0px;    
    }

    .section-header-mobile{
        display: none;
    }

    .menu-btns-burger{
        display:block;
        margin-right: 0;
        width: 10%;
        margin-bottom: 30px;
    }

    .ancla-burger{
        position: relative;
    }

   .ancla-burger::before{
        position:absolute;
        content: "\2630";
        color: var(--color-white);
        margin-left: 15px;
        font-size:22px;
        margin-bottom: 20px;
    }

    .ancla-burger:hover::before{
        color: var(--color-secondary);
    }

    /*.logo-src{
        width: 100%;
        height: 25px;
        max-width: 100%;
        object-fit: cover;
    }*/

    .logo-div{
        display:none;
    }

    .logo-div-src{
        display:block;
        text-align: center;
    }

    .logo{
        padding-top:10px;
        width: 75px;
        height: 75px;
    }

    .container-search {
        padding: 0;
        margin-top: 0;
    }

    .search {
        width: 200px;
        height: 25px;
    }

    .btns-cart{
        padding-top: 4px;
        font-size: 22px;
    }

    .icon-search{
        margin-left: calc(200px - 10px);
    }

    .btn-img-search{
        height: 22px;
        width: auto;
    }

    .div-btns-inicio{
        display: none;
    }

    .nav-aside-mobile{
        display: flex;
        margin-top: 10px;
        margin-bottom: 5px;
        background-color: var(--color-primary);
        border-radius: 15px;
        margin-left: 5px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }

    .bar-vertical-mobile-principal{
        display: none;
        list-style-type: none;
    }
    
    .bar-vertical-mobile{
        list-style-type: none;
    }
    .bar-vertical-mobile-principal > .bar-vertical-exterior-category-mobile {
        position: relative;
        display: block; 
    }

    .bar-vertical-mobile > .bar-vertical-exterior-mobile {
        position: relative;
        display: block; 
    }

    .bar-vertical-exterior-category-mobile a, .bar-vertical-exterior-mobile a{
        font-size: clamp(14px,calc(1vw + 10px),24px);
        display: block;
        text-align: left;
        padding: 12px 10px;
        text-decoration: none;
        color:var(--color-white);
        font-weight:bolder;
    }

    .bar-vertical-mobile{
        list-style-type: none;
        display: none;
        position: absolute;
        left:0%;
        border-left: var(--color-secondary) solid 1px;
        background-color: var(--color-primary);
        z-index: 1;
    }

    .bar-vertical-interior-mobile{
        list-style-type: none;
        display: none;
        position: absolute;
        left:100%;
        top:0%;
        border-left: var(--color-secondary) solid 1px;
        background-color: var(--color-primary);
        z-index: 2;
    }

    .bar-vertical-interior-mobile li a{
        font-size: clamp(10px,calc(1vw + 10px),20px);
    }

    .bar-vertical-exterior-mobile:hover .bar-vertical-interior-mobile {
        display: block;
    }

    .bar-vertical-exterior-category-mobile:hover .bar-vertical-mobile {
        display: block;
    }

    .bar-vertical-exterior-category-mobile a:hover {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .bar-vertical-exterior-mobile a:hover {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .bar-vertical-interior-mobile li a:hover {
        color:var(--color-secondary);
        border:0;
    }

    .bar-vertical-exterior-mobile:has(.bar-vertical-interior-mobile a:hover) > a {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .bar-vertical-exterior-category-mobile:has(.bar-vertical-exterior-mobile a:hover) > a {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .main{
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }

    .nav-aside{
        display:none;
    }


    /*.cards-products{
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
        margin-left: 5%;
    }*/

    /*.card-product{
        display: grid;
        grid-template-columns: 1fr 3fr 0.5fr;
        justify-content:space-evenly;
        align-items:center;
        width: 100%;
    }
    */

    .card-product:hover{
        transform: scale(1.05);
        border: var(--color-tertiary) solid 4px;
    }

    .card-product-title-price, .card-product-title-price p{
        text-align: center;
    }

    /*.card-product img{
        margin-top: 5px;
        margin-bottom: 0;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        text-align: left;
    }

    */

    .popup-cart-content{
        width: 350px;
    }
}

@media (max-width: 529px) {

    .menu-btns-burger{
        display:block;
        margin-right: 0;
        width: 10%;
        margin-bottom: 35px;
    }

    .ancla-burger{
        position: relative;
    }

    .ancla-burger::before{
        position:absolute;
        content: "\2630";
        color: var(--color-white);
        margin-left: 15px;
        font-size:22px;
        margin-bottom: 20px;
    }

    .ancla-burger:hover::before{
        color: var(--color-secondary);
    }

    /*.logo-src{
        width: 100%;
        height: 25px;
        max-width: 100%;
        object-fit: cover;
    }*/

    .logo-div{
        display:none;
    }

    .logo-div-src{
        display:block;
        text-align: center;
    }

    .logo{
        width: 75px;
        height: 75px;
    }

    .container-search {
        padding: 0;
        margin-top: 0;
    }

    .search {
        width: 160px;
        height: 25px;
    }

    .btns-cart{
        padding-top: 4px;
        font-size: 20px;
    }

    .icon-search{
        margin-left: calc(160px - 5px);
    }
    .btn-img-search{
        height: 22px;
        width: auto;
    }

    .div-btns-inicio{
        display: none;
    }

    .section-header-mobile{
        display: none;
    }

    .main{
        grid-column-gap: 5px;
    }

    .cards-products{
        grid-row-gap: 5px;
    }

    /*.card-product{
        display: flex;
        flex-flow: row nowrap;
        justify-content:flex-start;
        align-items:flex-start;
        border-radius: 15px;
        width: 100%;
    }*/

    .card-product-title-price, .card-product-title-price p{
        text-align: center;
    }

    /*.card-product img{
        margin-top: 5px;
        margin-bottom: 0;
        width: 95px;
        height: 95px;
        border-radius: 10px;
    }
    */
}

@media (max-width: 444px) {

    .search {
        width: 120px;
        height: 25px;
    }

    .icon-search{
        margin-left: calc(120px - 5px);
    }
}