@media (max-width: 1145px) {

    .section-header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 0;
        margin: 10px 0px 0px 0px;
        grid-column-gap:0px;
    }

    .login-div {  
        order: -1;
    }

    .icon-search-mobile{
        display: none;
    }

    .menu-btns-burger{
        display:flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        margin-right: 0;
        width: 10%;
        order: -1;
        margin-left: 45px;
    }

    .ancla-burger::before{
        content: "\2630";
        color: var(--color-white);
        font-size:25px;
    }

    .ancla-burger:hover::before{
        color: var(--color-secondary);
    }

    .logo-div{
        display:none;
    }

    .logo-div-src{
        display:block;
        text-align: center;
        
    }

    .logo-mobile-span{
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        text-align: center;
        margin-right:20px;
    }

    .logo{
        width: 70px;
        height: 70px;
    }

    .sfirst, .slast {
        font-size: 24px;
        margin-left:0px;
    }

    .slast{
        margin-right: 15px;
    }


    .container-search {
        padding: 0;
        margin-top: 0;
    }

    .search {
        background: var(--color-primary);
        padding:3px 3px 0px 10px;
        text-decoration: none;
        outline: none;
        border: 0;
        border-bottom: 2px solid var(--color-white);
        width: 250px;
        height: 33px;
        color: var(--color-white);
        font-size: 15px;
        font-weight: bold;
    }

    .icon-search{
        margin-left: 250px;
    }

    .btn-img-search{
        height: 22px;
        width: auto;
    }

    .div-btns-inicio{
        display: none;
    }

}

@media (max-width: 767px) {

    .login-div {  
        order: -1;
        margin-right: 0;    
    }

    .menu-btns-burger{
        margin-left: 35px;
    }

    .section-header-mobile{
        display: none;
    }

    .ancla-burger:hover::before{
        color: var(--color-secondary);
    }

    .logo-div{
        display:none;
    }

    .logo-div-src{
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 10px;
        gap: 15px;
    }

    .icon-search-mobile{
        display:block;
        margin-right:25px;
        color:var(--color-white);
        font-size: 20px;
        cursor: pointer;
    }

    .icon-search-mobile:hover{
        color: var(--color-secondary);
    }

    .container-search {
        display:none;
    }

    .search {
        padding: 0;
        margin-top: 0;
        width: 200px;
    }

    .icon-search{
        margin-left: calc(200px - 25px);
    }

    .btn-img-search{
        height: 22px;
        width: auto;
    }

    .div-btns-inicio{
        display: none;
    }

    .nav-aside-mobile{
        display: flex;
        margin-top: 10px;
        margin-bottom: 5px;
        background-color: var(--color-primary);
        border-radius: 15px;
        margin-left: 5px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }

    .bar-vertical-mobile-principal{
        display: none;
        list-style-type: none;
    }
    
    .bar-vertical-mobile{
        list-style-type: none;
    }
    .bar-vertical-mobile-principal > .bar-vertical-exterior-category-mobile {
        position: relative;
        display: block; 
    }

    .bar-vertical-mobile > .bar-vertical-exterior-mobile {
        position: relative;
        display: block; 
    }

    .bar-vertical-exterior-category-mobile a, .bar-vertical-exterior-mobile a{
        font-size: clamp(14px,calc(1vw + 10px),24px);
        display: block;
        text-align: left;
        padding: 12px 10px;
        text-decoration: none;
        color:var(--color-white);
        font-weight:bolder;
    }

    .bar-vertical-mobile{
        list-style-type: none;
        display: none;
        position: absolute;
        left:0%;
        border-left: var(--color-secondary) solid 1px;
        background-color: var(--color-primary);
        z-index: 1;
    }

    .bar-vertical-interior-mobile{
        list-style-type: none;
        display: none;
        position: absolute;
        left:100%;
        top:0%;
        border-left: var(--color-secondary) solid 1px;
        background-color: var(--color-primary);
        z-index: 2;
    }

    .bar-vertical-interior-mobile li a{
        font-size: clamp(10px,calc(1vw + 10px),20px);
    }

    .bar-vertical-exterior-mobile:hover .bar-vertical-interior-mobile {
        display: block;
    }

    .bar-vertical-exterior-category-mobile:hover .bar-vertical-mobile {
        display: block;
    }

    .bar-vertical-exterior-category-mobile a:hover {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .bar-vertical-exterior-mobile a:hover {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .bar-vertical-interior-mobile li a:hover {
        color:var(--color-secondary);
        border:0;
    }

    .bar-vertical-exterior-mobile:has(.bar-vertical-interior-mobile a:hover) > a {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .bar-vertical-exterior-category-mobile:has(.bar-vertical-exterior-mobile a:hover) > a {
        color: var(--color-secondary);
        border-left: var(--color-secondary) solid 1px;
    }

    .main{
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }

    .nav-aside{
        display:none;
    }

    .card-product:hover{
        transform: scale(1.05);
        border: var(--color-tertiary) solid 4px;
    }

    .card-product-title-price, .card-product-title-price p{
        text-align: center;
    }

    .carousel-indicators{
        background: rgba(0, 0, 0, 0.7);
        width: 30%;
        margin-right: 450px;
        padding: 5px 10px;
        border-radius: 5px;
        left: 22%;
    }

    .popup-cart-content{
        width: 500px;
    }
}

@media (max-width: 529px) {

    .menu-btns-burger{
        display:block;
        margin-right: 0;
        margin-left: 10px;
        width: 10%;
        margin-bottom: 35px;
    }

    .login-div {  
        margin-left:0px;
    }

    .ancla-burger{
        position: relative;
    }

    .ancla-burger::before{
        position:absolute;
        content: "\2630";
        color: var(--color-white);
        margin-left: 15px;
        font-size:22px;
        margin-bottom: 20px;
    }

    .ancla-burger:hover::before{
        color: var(--color-secondary);
    }

    .logo-div{
        display:none;
    }

    .logo{
        width: 75px;
        height: 75px;
    }

    .container-search {
        padding: 0;
        margin-top: 0;
    }

    .search {
        width: 160px;
    }

    .btns-cart{
        padding-top: 4px;
        font-size: 24px;
    }

    .icon-search{
        margin-left: calc(160px - 25px);
    }
    .btn-img-search{
        height: 22px;
        width: auto;
    }

    .div-btns-inicio{
        display: none;
    }

    .section-header-mobile{
        display: none;
    }

    .main{
        grid-column-gap: 5px;
    }

    .cards-products{
        grid-row-gap: 5px;
    }

    .card-product-title-price, .card-product-title-price p{
        text-align: center;
    }

    .cart-item-img-ui{
        width: 60px;
        height: 60px;
    }

    .cart-item-decrese{
        margin-right: 7px;
    }

    .btnmenor, .btnmayor {
        font-size: 8px
    }
    
    .input-cant {
        height: 26px;
        font-size: 14px;
        
    }
    
    .button-remove {
       font-size: 10px;
    }

    .price-product-cart{
        font-size: 16px;
    }

    .title-product-cart{
        font-size: 16px;
    }
    .popup-cart-content{
        width: 350px;
    }
}

@media (max-width: 444px) {

    .icon-search-mobile{
        margin-right:0;
    }

}